@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body{
  background-color:#7D9D9C;
  font-family: 'Quicksand', sans-serif;
}
.cards{
  text-align: center;
  border: 2px solid #E4DCCF;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #E4DCCF;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  
}
.header{
  text-align: center;
  font-size: 3rem;
  color: #E4DCCF;
}
.btn{
  margin: 1rem;
  font-size: 1rem;
  background-color: #738773;
  border-color: #738773;
  padding: 0.7rem;
  color: #E4DCCF;
  border-radius: 1rem;
}
.btn:hover{
  background-color: #879b87;
}
.img{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.imgdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.imgheader{
  width: 5rem;
  height: 5rem;
  margin: 1rem;
}